<div class="drawer-side is-drawer-close:overflow-visible">
  <label for="{{ drawer_id }}" aria-label="close sidebar" class="drawer-overlay"></label>

  <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
    <ul class="menu w-full grow">

      <!-- List item -->
     <li>
      <a href="{% url 'home' %}"
        class="is-drawer-close:tooltip is-drawer-close:tooltip-right flex items-center gap-2"
        data-tip="Homepage">

            <!-- Home icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>


            <span class="is-drawer-close:hidden">Homepage</span>
        </a>
    </li>

      <!-- List item -->
      <li>
        <a href="{% url 'financial:accounts-index' %}"
           class="is-drawer-close:tooltip is-drawer-close:tooltip-right flex items-center gap-2"
           data-tip="Accounts">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.5c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v4.5h4.125c.621 0 1.125-.504 1.125-1.125V9.75" />
            </svg>
            <span class="is-drawer-close:hidden">Accounts</span>
        </a>
      </li>

    </ul>
  </div>
</div>
