<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Home Management{% endblock title %}</title>

    {% block extra_head %}
    <!-- Additional CSS or meta tags can go here -->
    {% endblock extra_head %}
</head>

<body>
  
  <main>
    <c-layout.app>
      {% block content %}{% endblock content %}
    </c-layout.app>
  </main>

  <footer class="p-4">
    <p>&copy; 2026 Home Management</p>
  </footer>

  {% block extra_body %}{% endblock extra_body %}
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script>
    htmx.config.reportValidityOfForms = true;

    document.body.addEventListener("htmx:beforeSwap", function (event) {
      if (event.detail.xhr.status === 422) {
        event.detail.shouldSwap = true;
        event.detail.isError = false;
      }
    });
  </script>
</body>
</html>

